obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/TP_Final_Instituto_Aprender_POO.AssemblyInfo.cs
obj/Debug/net9.0/TP_Final_Instituto_Aprender_POO.AssemblyInfoInputs.cache
obj/Debug/net9.0/TP_Final_Instituto_Aprender_POO.assets.cache
obj/Debug/net9.0/TP_Final_Instituto_Aprender_POO.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/TP_Final_Instituto_Aprender_POO.GlobalUsings.g.cs
obj/project.assets.json
obj/project.nuget.cache
obj/TP_Final_Instituto_Aprender_POO.csproj.nuget.dgspec.json
obj/TP_Final_Instituto_Aprender_POO.csproj.nuget.g.props
obj/TP_Final_Instituto_Aprender_POO.csproj.nuget.g.targets
.vscode/settings.json
obj/
bin/